@keyframes rotating {
    0%{
        -webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(1deg);
    }
}

.articlePreviewFrame {
    // height: 24rem;
}

.articlePreview {
    width: 14.5rem;
    background-color: rgb(255, 255, 255);
    padding: 12px;
    border: 1px solid #e2e2e2;

    div {
        padding: 0;
    }

    

    .titleFrame {
        height: auto;
        margin: 0.5rem 0 0;
        cursor: pointer;
    }

    .image {
        cursor: pointer;
    }
    .image:hover {
        animation: rotating 0.2s forwards;
    }

    .dateFrame {
        margin: 1.2rem 0 0.3rem;

        div {
            font-size: 0.7rem;
            font-style: italic;
        }
    }
}
