@import '../styles/variables.scss';

.contact {
    .contactFrame {
        // background-color: $blue;
    }
    .roundFrame{
        width: 150px;
        height: 150px;
        border-radius: 100px;
        margin-left: auto;
        margin-right: auto;
        padding: 32px;
        background-color: $blue;
    }
    .iconContact{
        color: white;
    }
    .malt{
        margin-left: -8px;
    }
}