@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap");
.headers {
  margin: 1rem 0 1.5rem 0;
}
.headers a {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: black;
}
.headers .circleRed {
  width: 3rem;
  height: 3rem;
  background-color: #51be78;
  border-radius: 3rem;
  margin: 0.5rem 0 0 0;
  float: left;
}
.headers .djoher {
  font-family: "Roboto Mono";
  font-size: 2rem;
  margin: 0 0 0 0.5rem;
}
.headers .navbar {
  margin: 0.6rem 0 0 0;
}
.headers .isdev {
  font-family: "Roboto Mono";
  font-size: 1rem;
  margin: 0 0 0 -0.5rem;
}
.headers #col {
  margin-bottom: 0rem;
}
.headers input {
  margin: 1rem 0 0 0;
}
.headers .buttone {
  background-color: #51be78;
  color: white;
  border: 0px;
  width: 10rem;
  height: 3rem;
  margin: 0.1rem 0 0 0;
  text-align: center;
  line-height: 50px;
  border-radius: 0.3rem;
}
