@import "~bulma/bulma.sass";
@import '../styles/variables.scss';

.index {
    .thebluediv {
        background-color: $blue;
        @include desktop {
        }

        figure {
            max-width: 100px;
            margin: 0 auto;
            @include desktop {
                max-width: 200px;
            }
        }

        h1 {
            font-family: 'Open Sans', sans-serif;
        }

        .button {
            margin-right: 10px;
        }

        a {
            color: white;
        }

        .buttonLangage {
            margin: 10px;
        }

    }

    hr{
        border: 1px solid rgb(177, 177, 177);
    }
}
