@import "~bulma/bulma.sass";
@import '../styles/variables.scss';

#layoutIndex {
    background-color: $greyBackground;
    margin-bottom: 0rem;

    .space {
        // @include desktop {
            width: 1000px;
        // }

        @include tablet-only {
            width: 790px;
        }

        @include mobile {
            width: 310px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}