@import '../styles/variables.scss';

.me{
    .languageFrame{
        background-color: $blue;
        margin: 0 0 4rem;
    }
    .imageMe {
        width: 30rem;
    }
    .verticalLigne{
        height: auto;
        border-left: 1px solid black;
    }
    .tag{
        margin-right: 0.5rem;
    }
    .mission {
        color: $blue;
    }
    .presentation,.passionTitle{
        margin: 0rem 0 2rem;
    }
    .textPresentation{
        background-color: $blue;
        padding: 1.5rem;
        margin:3rem 0 3rem 0;
    }
    .buttonDownload{
        margin:0 0 3rem 0;
    }
}